.booking-form .form-row .form-group {
    margin-right: 10px;
}
.search-btn{
    background-color: #69c3a2;
    width: 200px;
  }

  .show-btn{
    background-color: #69c3a2;
    width: 200px;
  }

  .icon-plane {
    margin-right: 8px;
  }


